.ticker-text {
  display: inline-block;
  animation-delay: 0s;
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
